<launch>
  <!-- 启动二维码检测节点 -->
  <node pkg="robot_vision" name="yolov5_detector" type="yolov5_detector.py" output="screen">
    <param name="yolov5_path"       value="/home/jetson/yolov5"/>
    <param name="weight_path"       value="/home/jetson/yolov5/weights/yolov5s/best.pt"/>
    <param name="conf"              value="0.5"/>
    <param name="image_sub"       value="/usb_cam/image_raw" />
    <param name="camera_info_sub"       value="/usb_cam/camera_info" />
  </node>

</launch>

