<launch>
	<!-- 启动相机节点 -->
	<include file="$(find robot_vision)/launch/usb_cam.launch"/>

  <!-- 启动二维码检测节点 -->
  <node pkg="robot_vision" name="yolov5_detector" type="yolov5_detector.py" output="screen">
    <param name="yolov5_path"       value="/home/vic/yolov5"/>
    <param name="weight_path"       value="/home/vic/yolov5/weights/yolov5s/best.pt"/>
    <param name="conf"              value="0.5"/>
    <!-- <param name="image_rect"       value="/usb_cam/image_raw" /> -->
    <param name="image_rect"       value="/iris/camera/rgb/image_raw"/>
  </node>

  <node pkg="rqt_image_view" type="rqt_image_view" name="rqt_image_view" output="screen"/>
</launch>
