<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find simulation)/worlds/cat.world"/>
    </include>

    <group ns="catvehicle">
        <param name="robot_description"
            command="$(find xacro)/xacro '$(find catvehicle)/urdf/cp_catvehicle.xacro' roboname:='catvehicle' updateRate:='20.0'" />

        <include file="$(find catvehicle)/launch/catvehicle.launch">
            <arg name="robot_name" value="catvehicle"/>
            <arg name="obstaclestopper" value="false"/>
            <arg name="init_pose" value="-x 0 -y 0 -z 0"/>
            <arg name="config_file" value="catvehicle_control.yaml"/>
        </include>
    </group>

    <!-- <node name="teleop_car_key" pkg="simulation" type="teleop_car_key" output="screen" /> -->

</launch>
