<launch>
    <arg name="sdf" default="$(find simulation)/models/iris_downward_depth_camera/iris_downward_depth_camera.sdf" />
    <!-- <arg name="sdf" default="$(find simulation)/models/typhoon_h480/typhoon_h480.sdf" /> -->
    <arg name="world" default="$(find simulation)/worlds/lawn_void.world" />

    <include file="$(find px4)/launch/mavros_posix_sitl.launch" >
        <arg name="x" value="0"/>
        <arg name="y" value="0"/>
        <arg name="z" value="0"/>
        <arg name="R" value="0"/>
        <arg name="P" value="0"/>
        <arg name="Y" value="0"/>
        <arg name="sdf" value="$(arg sdf)" />
        <arg name="world" value="$(arg world)" />
    </include>

    <include file="$(find steer_mini_gazebo)/launch/steer_mini_sim.launch" >
        <arg name="x" default="3.0"/>
        <arg name="y" default="4.0"/>
        <arg name="z" default="0.0" />
    </include>

    <!-- <group ns="catvehicle">
        <param name="robot_description"
            command="$(find xacro)/xacro '$(find catvehicle)/urdf/cp_catvehicle.xacro' roboname:='catvehicle' updateRate:='20.0'" />

        <include file="$(find catvehicle)/launch/catvehicle.launch">
            <arg name="robot_name" value="catvehicle"/>
            <arg name="obstaclestopper" value="false"/>
            <arg name="init_pose" value="-x 5 -y 5 -z 0"/>
            <arg name="config_file" value="catvehicle_control.yaml"/>
        </include>
    </group> -->
</launch>
